@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2 class="white-front">Список ролей</h2>
<table class="table white-front">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a class="blue-link" asp-action="Create">Добавить роль</a>
<a class="blue-link" asp-action="UserList">Список пользователей</a>