@model IEnumerable<SocialNetwork.Models.User>

<h2 class="white-front">Список пользователей</h2>
<table class="table white-front">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
            </td>
        </tr>
    }
</table>