@model IEnumerable<SocialNetwork.Models.User>
@{
    ViewData["Title"] = "Главная страница";
}
@if (User.Identity.IsAuthenticated)
{
    @*@foreach (var user in Model)
    {
        if (user.Email == User.Identity.Name)
        {
            <h1>@user.ProfileLink</h1> 
        }
     }*@
}
else
{

}
