@{
    ViewData["Title"] = "Инофрмация";
}
<p>Данный проект создан на ASP.NET Core</p>
<p>Исходные данные проекта можно посмотреть <a href="https://github.com/Bel0vEd/SocialNetwork">здесь</a></p>
<p>Все проекты <a href="https://github.com/Bel0vEd">Bel0vEd</a></p>
