@{
    ViewData["Title"] = "Инофрмация";
}
<div class="white-front">
    <p>Данный проект создан на ASP.NET Core</p>
    <p>Исходные данные проекта можно посмотреть <a style="color:#bbfbfb" href="https://github.com/Bel0vEd/SocialNetwork">здесь</a></p>
    <p>Все проекты <a style="color:#bbfbfb" href="https://github.com/Bel0vEd">Bel0vEd</a></p>
</div>
