/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.media-body .author {
    display: inline-block;
    font-size: 1rem;
    color: #000;
    font-weight: 700;
}

.media-body .metadata {
    display: inline-block;
    margin-left: .5rem;
    color: #777;
    font-size: .8125rem;
}

.footer-comment {
    color: #777;
}

.vote.plus:hover {
    color: green;
}

.vote.minus:hover {
    color: red;
}

.vote {
    cursor: pointer;
}

.comment-reply a {
    color: #777;
}

.comment-reply a:hover, .comment-reply a:focus {
        color: #000;
        text-decoration: none;
    }

.devide {
    padding: 0px 4px;
    font-size: 0.9em;
}

.media-text {
    margin-bottom: 0.25rem;
}

.title-comments {
    font-weight: bold;
    line-height: 1.5rem;
    color: #1b6ec2;
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid red;
}
